* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url(bg.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
  }
  
  .main{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    margin-top: 200px;
}

  nav {
    background: #5479AE;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
  }
  
  main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  form div {
    display: flex;
    flex-direction: column;
  }
  
  input, textarea {
    padding: 0.5rem;
    margin-top: 0.25rem;
    font-size: 12px;
  }

  button {
    padding: 0.5rem 1rem;
    background: #5479AE;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background: #4a6c9d;
  }

  .blue-button{
    font-size: 20px;
  }
  
  .admin-table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    background-color: #7ea7e0;
  }
  
  .admin-table th, .admin-table td {
    padding: 0.5rem;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .admin-table th {
    background: #f5f5f5;
  }
  
  .admin-table tr:nth-child(even) {
    background: #f9f9f9;
  }
  
  .recent{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    margin-top: 200px;
  }

  .saving-card{
    background-color: rgba(118, 148, 190, 0.5);
    border-radius: 5px;
    margin-top: 15px;
    padding-left: 7px;
  }